<!-- side bar -->
<div id="mySidenav" class="sidenav sidenavnew">
  <!--<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>-->
  <a routerLink="/dashboard" class="mainItem">
      <img src="../../../assets/Images/logo.png">
      <span style="color: cyan;"><h4>Revision App (PD 06)</h4></span>
  </a>
  <a routerLink="/singleInformation">
    <i class="fa fa-plus" aria-hidden="true"></i>
    New Application
  </a>
  <a href="#">
    <i class="fa fa-print" aria-hidden="true"></i>
    Award Letter Print
  </a>
  <a href="#" class="logout">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    Log Out
  </a>
</div>
