<!-- navigation top bar -->
<div class="navbarModified">
  <ul>
    <li style="float:right"><a href="#about">Logout</a></li>
  </ul>
</div>

<!-- side bar -->
<div id="mySidenav" class="sidenav sidenavnew">
  <!--<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>-->
  <a routerLink="/dashboard" class="mainItem">
    <div class="row" style="text-align: left;">
        <h3>PD6</h3>
    </div>
  </a>
  <a routerLink="/singleInformation">
    <i class="fa fa-plus" aria-hidden="true"></i>
    New Application
  </a>
  <a href="#">
    <i class="fa fa-print" aria-hidden="true"></i>
    Award Letter Print
  </a>
</div>
