<div class="row">
  <div class="col-md-offset-5 col-sm-7">
    <div class="input-group" id="adv-search">
      <input type="text" class="form-control" placeholder="Search by NIC/ Pension number" [(ngModel)]="filterQuery"/>
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div><br>
<div class="row">
  <table class="table table-striped" [mfData]="pensionerList | pendingResultFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
    <tr>
      <th style="width: 25%">
        <mfDefaultSorter by="nic">NIC</mfDefaultSorter>
      </th>
      <th style="width: 25%">
        <mfDefaultSorter by="pensionNumber">Pension Number</mfDefaultSorter>
      </th>
      <th style="width: 25%">
        <mfDefaultSorter by="name">Name</mfDefaultSorter>
      </th>
      <th style="width: 25%">
        <mfDefaultSorter></mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let singleData of mf.data">
      <td>{{singleData.nic}}</td>
      <td>{{singleData.pensionNumber}}</td>
      <td>{{singleData.name}}</td>
      <td>
        <button class="btn btn-primary" routerLink="/revision/modify">procdeed</button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
