<form class="form-horizontal" role="form">
  <div class="container">
    <h3>Bank Information</h3>
    <h4 class="col-sm-offset-1">For Pension</h4>

    <div class="form-group">
      <label class="control-label col-sm-3" for="bank">Bank Name</label>
      <div class="col-sm-3">
        <select class="form-control" >
          <option value="0" disabled selected>Select Bank</option>                                          
        </select>
      </div>
    </div>
   
    <div class="form-group">
      <label class="control-label col-sm-3" for="branch">Branch</label>
      <div class="col-sm-3">
        <select class="form-control">
          <option value="0" disabled selected>Select Branch</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="bAccNo" class="control-label col-sm-3">Bank Account no</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Bank Account No.">
      </div>
    </div>
    
    <div class="form-group">
      <label for="bAccNoConf" class="control-label col-sm-3">Confirm Bank Account no</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Confirm Bank Account no">
      </div>
    </div>

    <h4 class="col-sm-offset-1">For Gratuity</h4>

    <div class="form-group">
      <label class="control-label col-sm-3" for="bankGrat">Bank Name</label>
      <div class="col-sm-3">
        <select class="form-control" >
          <option value="0" disabled selected>Select Bank</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-3" for="branchGrat">Branch</label>
      <div class="col-sm-3">
        <select class="form-control">
          <option value="0" disabled selected>Select Branch</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <label for="bAccNoGrat" class="control-label col-sm-3">Bank Account No</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Bank Account no" (keyup)="store.bankInformation.gratuityAccount = $event.srcElement.value">
      </div>
    </div>
    
    <div class="form-group">
      <label for="bAccNoGratConf" class="control-label col-sm-3">Confirm Bank Account No</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Confirm Bank Account no">
      </div>
    </div>
   
    <div class="form-group">
      <div class="col-sm-3"></div>
      <div class="col-sm-4 align">
        <button type="button" class="btn btn-warning">Edit</button>
        <button type="button" class="btn btn-info">Previous</button>
        <button type="button" class="btn btn-primary">Continue</button>
      </div>
    </div>

  </div>
</form>

