<form class="card">
  <div class="card-block">
    <h3>
      <i class="fa fa-usd" aria-hidden="true"></i>
      Bank Information
    </h3>
    <div class="card">
      <div class="card-block">
        <label><b>For Gratuity</b></label>
        <div class="form-group">
          <label>Bank Name</label>
          <select class="form-control">
            <option selected disabled>Select Bank</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label>Branch</label>
          <select class="form-control">
            <option selected disabled>Select Branch</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label>Bank Account No</label>
          <input type="text" class="form-control"  placeholder="Bank Account No">
        </div>
        <div class="form-group">
          <label>Confirm Bank Account No</label>
          <input type="text" class="form-control"  placeholder="Confirm Bank Account No">
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-block">
        <label><b>For Monthly Pension</b></label>
        <div class="form-group">
          <label>Bank Name</label>
          <select class="form-control">
            <option selected disabled>Select Bank</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label>Branch</label>
          <select class="form-control">
            <option selected disabled>Select Branch</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label>Bank Account No</label>
          <input type="text" class="form-control"  placeholder="Bank Account No">
        </div>
        <div class="form-group">
          <label>Confirm Bank Account No</label>
          <input type="text" class="form-control"  placeholder="Confirm Bank Account No">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-pencil"></i>
            Edit
          </button>
          <button type="button" class="btn btn-success">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
