<div class="row">
  <div class="dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="dashboard-title" *mobxAutorun>
          <br/>
          Revision Dashboard
          <!--<div class="hr"></div>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="dashboard-tiles">
          <app-location-navigation [routerUrl]="'/pensionersInformation/pending'" [title]="'Pending Applications'" [count]="'2'" [icon]="'fa fa-clock-o'" [tile]="'dashboard-tile'" [tilecolor]="'dashboard-tile-color-1'"></app-location-navigation>
          <app-location-navigation [routerUrl]="'/pensionersInformation/submited'" [title]="'Received Applications'" [count]="'3'" [icon]="'fa fa-envelope-o'" [tile]="'dashboard-tile'" [tilecolor]="'dashboard-tile-color-2'"></app-location-navigation>
          <app-location-navigation [routerUrl]="'/pensionersInformation/rejected'" [title]="'Rejected Applications'" [count]="'2'" [icon]="'fa fa-thumbs-down'" [tile]="'dashboard-tile'" [tilecolor]="'dashboard-tile-color-3'"></app-location-navigation>
          <app-location-navigation [routerUrl]="'/pensionersInformation/awarded'" [title]="'Awarded Applications'" [count]="'2'" [icon]="'fa fa-check'" [tile]="'dashboard-tile'" [tilecolor]="'dashboard-tile-color-4'"></app-location-navigation>
        </div>
      </div>
    </div>
  </div>
</div>

