<div class="row">
  <div class="col-sm-4">
    <div class="sidenav sidenavnew">
      <a class="mainItem">
        <img src="../../../assets/Images/logo.png" class="logo">
      </a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="adjust">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6 col-md-offset-4">
              <h3 class="headline">Pension Revision Management</h3><br>
              <div class="form-group">
                <label for="username">User name</label>
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
              </div>
              <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="password">
              </div>
              <button class="btn btn-primary pull-right font-logo" (click)="loginToSystem()">
                <i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;sign in
              </button>
            </div>
            <app-preloader></app-preloader>
          </div>
        </div>
      </div>
    </div>
  </div>
  <simple-notifications></simple-notifications>
</div>
<div class="spinning-preloader-container">
        <div class="spinning-preloader-elements"></div>
    </div>