<div class="row">
  <div class="col-sm-4">
    <div class="sidenav sidenavnew">
      <a routerLink="/dashboard" class="mainItem">
        <img src="../../../assets/Images/logo.png" width="200px" height="200px" style="margin-top: 70px;">
        <span style="color: cyan;"><h4>Revision App (PD 06)</h4></span>
      </a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="adjust">
      <h2>Revision Login</h2><br>
      <div class="card">
        <div class="card-block">
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="password">
          </div>
          <button class="btn btn-primary" (click)="loginToSystem()">
            <i class="fa fa-external-link-square" aria-hidden="true"></i> Login to System
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
