<form class="card">
  <div class="card-block">
    <h3><i class="fa fa-building" aria-hidden="true"></i> Service Information</h3>
    <div class="form-group">
      <label >Ministry/Department/Institute</label>
      <input type="text" class="form-control"  placeholder="Ministry/Department/Institute">
    </div>
    <div class="form-group">
      <label>Retired Officer Belongs To</label>
      <input type="text" class="form-control"   placeholder="Retired Officer Belongs To">
    </div>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Present</th>
          <th>After Revision</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            Service
          </th>
          <td>
            Service
          </td>
          <td>
            Service
          </td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
        <tr>
          <th scope="row">
            Grade
          </th>
          <td>
            Grade
          </td>
          <td>
            Grade
          </td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-group">
      <label>Designation</label>
      <select class="form-control">
        <option selected disabled>Select Designation</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label>Confirmed in New Post</label><br>
      <input class="form-control" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No" data-size="large">
    </div>
    <div class="form-group">
      <label>Date of New Appointment</label>
      <input type="date" class="form-control">
    </div>
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-pencil"></i>
            Edit
          </button>
          <button type="button" class="btn btn-success">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
