<ul class="nav nav-tabs  nav-justified" role="tablist">
  <li role="presentation">
    <a class="tabIndexes"  data-toggle="tab" aria-controls="step1" role="tab" title="Personal Information"  id="ipersonal" routerLink="persion" [routerLinkActive]="['active']">
      <span class="round-tab">
          <i class="fa fa-user large icon-sze"></i>
      </span>
    </a>
  </li>

  <li role="presentation">
    <a class="tabIndexes" data-toggle="tab" aria-controls="step4" role="tab" title="Service Information" id="iserviceInfo" routerLink="service" [routerLinkActive]="['active']">
      <span class="round-tab">
          <i class="fa fa-id-card-o large icon-sze"></i>
      </span>
    </a>
  </li>

  <li role="presentation">
    <a class="tabIndexes" data-toggle="tab" aria-controls="step3" role="tab" title="Bank Information" id="ibankinfo" routerLink="bank" [routerLinkActive]="['active']">
      <span class="round-tab">
          <i class=" fa fa-bank large icon-sze"></i>
      </span>
    </a>
  </li>

  <li role="presentation">
    <a class="tabIndexes" data-toggle="tab" aria-controls="step4" role="tab" title="revision Information" id="irevisionInfo" routerLink="salary" [routerLinkActive]="['active']">
      <span class="round-tab">
          <i class="fa fa-pencil large icon-sze"></i>
      </span>
    </a>
  </li>

  <li role="presentation">
    <a class="tabIndexes"data-toggle="tab" aria-controls="complete" role="tab" title="Payment Information" id="ipaymentInfo" routerLink="payment" [routerLinkActive]="['active']">
      <span class="round-tab">
          <i class="fa fa-usd large icon-sze"></i>
      </span>
    </a>
  </li>
</ul>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
  <div class="col-sm-1"></div>
</div>
