.icon-sze{
  font-size: 45px;
}

.tabIndexes:hover {
  color: #f1f1f1;
  background-color: #0072C6;
  border-radius: 0px;
}

.active{
  color: #f1f1f1;
  background-color: #0072C6 !important;
  border-radius: 0px !important;
}
