body{
  background-color: #ECF0F5;
}

a {
  cursor: pointer;
}

a:not(:first-child):hover {
  color: #f1f1f1 !important;
  background-color: steelblue !important;
}

button {
  cursor: pointer;
}

button{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    border-radius: 0px !important;
    border: 0px !important;
}
input{
    border-radius: 0px !important;
}

select{
    border-radius: 0px !important;
}

.align{
     text-align:right;
}
