.form-back {
  background-color: snow;
}
a {
  cursor: pointer;
}

a:hover {
  color: #f1f1f1;
  background-color: #4CAF50;
}

button {
  cursor: pointer;
}
button{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    border-radius: 0px !important;
    border: 0px !important;
}
input{
    border-radius: 0px !important;
}

select{
    border-radius: 0px !important;
}

.align{
     text-align:right;
}
