<form class="card">
  <div class="card-block">
    <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Salary Revision Information</h3>
    <div class="form-group">
      <label>Salary Circular & Retirement Year</label>
      <input type="text" class="form-control"   placeholder="Salary Circular & Retirement Year">
    </div>
    <div class="form-group">
      <label>Last Date of Increment</label>
      <input type="date" class="form-control"   placeholder="Last Date of Increment">
    </div>
    <div class="form-group">
      <label>Monthly Salary</label>
      <input type="number" class="form-control"   placeholder="Monthly Salary">
    </div>
    <div class="card card-block">
      <label><b>Service Period Information</b></label>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th></th>
            <th></th>
            <th>Present</th>
            <th>After Revision</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th role="row">
              i
            </th>
            <td>
              Trainnig Service period relevant to pension calculation
            </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <th role="row">
              ii
            </th>
            <td>
              Casual Daily Period which W&OP contributions were deducted
            </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <th role="row">
              iii
            </th>
            <td>
              Permenent and pensionable service period
            </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <th role="row">
              iv
            </th>
            <td>
              Total service period relevant to pension calculation
            </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="card card-block">
      <label><b>No Pay Leave</b></label>
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th></th>
          <th></th>
          <th>Present</th>
          <th>After Revision</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th role="row">
            i
          </th>
          <td>
            Total No Pay Leave period
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
        <tr>
          <th role="row">
            ii
          </th>
          <td>
            No - Pay leave set off period
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
        <tr>
          <th role="row">
            iii
          </th>
          <td>
            Net No - Pay leave period after setting off above section II
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="card card-block">
      <label><b>Salary Particulars</b></label>
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>Salary Particulars</th>
          <th>Present</th>
          <th>After Revision</th>
          <th>At 01/01/2020</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th role="row">
            Annual Consolidated Salary
          </th>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
        <tr>
          <th role="row">
            Earned Increment
          </th>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="checkbox">
          </td>
        </tr>
        </tbody>
      </table>
    </div><br>
    <button class="btn btn-primary"><i class="fa fa-plus"></i> Add Allowance </button><br>
    <div class="form-group">
      <label>Gross Annual Salary</label>
      <input type="number" class="form-control"   placeholder="Gross Annual Salar">
    </div>
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-pencil"></i>
            Edit
          </button>
          <button type="button" class="btn btn-success">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
