<div class="row">
  <h3>Salary Revision Information</h3>
  <br/>
  <div class="form-group">
    <div class="col-sm-1"></div>
    <label class="control-label col-sm-3" for="salScale">Salary Code</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" placeholder="Salary Code"/>
    </div>
  </div>
  <br/><br/>
  <div class="form-group">
    <div class="col-sm-1"></div>
    <label for="doi" class="control-label col-sm-3">Last Date of Increment</label>
    <div class=" col-sm-3">
      <input type="date" class="form-control" placeholder="YYYY-MM-DD"/>
    </div>
  </div>
  <br/><br/>
  <div class="form-group">
    <div class="col-sm-1"></div>
    <label class="control-label col-sm-3">Monthly Salary</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" value="0"/>
    </div>
  </div>
  <br/><br/><br/>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 ">
      <table id="tblService" class="table table-striped">
        <tr class="info">
          <td><label><br/>Details of the Period of Service</label></td>
          <td class="col-sm-1"><br/>Years</td>
          <td class="col-sm-1"><b>Presesnt</b><br/>Months</td>
          <td class="col-sm-1"><br/>Days</td>
          <td class="col-sm-1"></td>
          <td class="col-sm-1"><br/>Years</td>
          <td class="col-sm-1"><b>Revised</b><br/>Months</td>
          <td class="col-sm-1"><br/>Days</td>
        </tr>
        <tr>
          <td>Period of trained service relevant to the calculation of pension</td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td class="col-sm-1"></td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
        </tr>
        <tr>
          <td>Casual/Daily wages from which W&OP contributions were deducted</td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td class="col-sm-1"></td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
           <input type="text" class="form-control" value="0" readonly>
          </td>
        </tr>
        <tr>
          <td>Permanent and Pensionable</td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td class="col-sm-1"></td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
        </tr>
        <tr>
          <td>Period of service relevant to the calculation of pension</td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td class="col-sm-1"></td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 ">
      <table id="tblNopay" class="table table-striped">
        <tr class="info">
          <td><label>No-pay leave details</label></td>
          <td class="col-sm-1"><br/>Years</td>
          <td class="col-sm-1"><b>Presesnt</b><br/>Months</td>
          <td class="col-sm-1"><br/>Days</td>
          <td class="col-sm-1"></td>
          <td class="col-sm-1"><br/>Years</td>
          <td class="col-sm-1"><b>Revised</b><br/>Months</td>
          <td class="col-sm-1"><br/>Days</td>
        </tr>
        <tr>
          <td>Total No-pay leave period</td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td class="col-sm-1"></td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
        </tr>
        <tr>
          <td>No-pay leave set off</td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td class="col-sm-1"></td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
        </tr>
        <tr>
          <td>Net No-pay Leaves after setting off</td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td class="col-sm-1"></td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
          <td>
            <input type="text" class="form-control" value="0" readonly>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 ">
      <table class="table table-striped">
        <tr class="info">
          <td><label>Salary Particulars</label></td>
          <td>Present</td>
          <td>Revised</td>
          <td>As at 01/01/2020</td>
        </tr>
        <tr>
          <td><label>Annual consolidated salary </label></td>
          <td class="col-sm-2"><input type="text" class="form-control col-sm-1 align" value="0" readonly></td>
          <td class="col-sm-2"><input type="text" class="form-control col-sm-1 align" value="0" readonly></td>
          <td class="col-sm-2"><input type="text" class="form-control col-sm-1 align" value="0" readonly></td>
        </tr>
        <tr>
          <td><label> Eligible for Earned Increment</label></td>
          <td class="col-sm-2"><input type="text" class="form-control col-sm-1 align" value="0" readonly></td>
          <td class="col-sm-2"><input type="text" class="form-control col-sm-1 align" value="0" readonly></td>
          <td class="col-sm-2"><input type="text" class="form-control col-sm-1 align" value="0" readonly></td>
        </tr>
      </table>
      <br/>
      <a href="javascript:void(0);" class="btn-info btn-sm">Add Allowance</a>
      <br/><br/>
      <div class="row">
        <div class="col-sm-10">
          <label class="">Gross annual salary applicable to the calculation of pension</label>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" value="0" readonly>
          <label class="col-sm-1"></label>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-8"></div>
          <div class="col-sm-4 align">
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-info">Previous</button>
            <button type="button" class="btn btn-primary">Continue</button>
          </div>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
